.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* belongs to signin */
/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password], .form-container input[type=email] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus, .form-container input[type=email] {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/* this is our whole body.... repeating radial gradient is just a replacement for linear gradient due to bug; change if need to */
body {
  
  background: repeating-radial-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2) ), url("https://images.pexels.com/photos/691668/pexels-photo-691668.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat center center fixed;
  margin:0;
  padding:0;
  font-family: verdana;
}

/* this is our nav bar */
#head {
  width:100%;
}

nav {
  width: 100%;
  height: 100px;
  background-color: #0005;
  line-height: 50px;
  
}

nav ul{
  height: 50px;
  float: right;
  margin-right: 30px;
}


.navLinks {
  list-style-type: none;
  display: inline-block;
  transition: 0.7s all;
  padding: 15px;
  text-decoration: none;
  color: #fff;
}

.navLinks:hover {
  background-color:#088;
}

/* below this is for comments and comment input */
#commentInput {
  width:60%;
  height:90px;
  background-color:#F0F8FF;
  color:black;
  border:none;
  padding:2%;
  font:22px/30px sans-serif;
  opacity: .8;
  margin: auto;
  margin-left: 145px;
}

#commentInputSubmit {
  background-color:yellowgreen;
  color:white;
  padding:5px;
  font-size:18px;
  border:none;
  padding:8px;
  margin-left: 50px;
  margin-top: 300px;
}

#comments {
  width:60%;
  height:90px;
  background-color:#F0F8FF;
  color:black;
  border:none;
  padding:2%;
  font:22px/30px sans-serif;
  opacity: .8;
  margin: auto;
  margin-top: 200px;
  flex: 1;

}

#content {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
}


#dashboard {
  margin: auto;
  margin-top: 200px;
}

/* for about page */
#about {
  font:22px/30px sans-serif;
  text-align: center;
  margin: auto;
  color: whitesmoke;
}

/* specifically built for question button. temporary */
button {
    background-color: grey; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    grid-gap: 20px;
}

#like {
  text-decoration-color: hotpink;
  color: #61dafb;
}

#quote {
  font:30px/30px sans-serif;
  text-align: center;
  margin: auto;
  color: whitesmoke;
}

@media screen and (max-width: 800px) {
  .App, header, footer {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    display: grid;
    grid-template-columns: 1fr;
  }
}